= simple_form_for [@application, @work_manager], html: {class: 'form form-horizontal form-bordered'}, wrapper: :horizontal_form do |f|
  .form-body
    = f.input :name
    = f.input :aws_region
    = f.input :autoscalinggroup_name
    = f.input :queue_name
    = f.input :max_workers
    = f.input :min_workers
    = f.input :max_workers_off, hint: 'Valido para sábado e domingo, dia de semana das 22:00 as 6:00'
    = f.input :min_workers_off, hint: 'Valido para sábado e domingo, dia de semana das 22:00 as 6:00'
    = f.input :jobs_per_cycle
    = f.input :active, include_blank: false
  .form-actions
    = f.submit class: 'btn btn-primary'