.card
  .card-header
    %h4.card-title= t(:last_cycles)
    .heading-elements
      .btn-group
        = link_to '#', data: {action: 'expand'}, class: 'btn btn-sm btn-outline-secondary' do
          %i.ft-maximize
          = t(:expand)
        - if defined?(application) && defined?(work_manager)
          = link_to check_application_work_manager_path(application, work_manager), data: {confirm: t(:are_you_sure), disable_with: t(:running)}, class: 'btn btn-sm btn-outline-warning', title: 'Forçar Checagem' do
            %i.fa.fa-bolt
            = t(:check)
          = link_to clear_cycles_application_work_manager_path(application, work_manager), method: :delete, data: {confirm: t(:are_you_sure), disable_with: t(:running)}, class: 'btn btn-sm btn-outline-danger', title: 'Excluir Todos os Ciclos' do
            %i.fa.fa-trash
            = t(:clear)

  .card-content.collapse.show
    - if defined?(cycles) && cycles.recent.count > 0
      .table-responsive
        %table.table.table-hover.table-striped.mb-0
          %thead
            %tr
              %th= Cycle.human_attribute_name(:updated_at)
              %th= Cycle.human_attribute_name(:new_jobs)
              %th= Cycle.human_attribute_name(:queue_jobs)
              %th Workers nesse momento
              %th Alterando para
              %th Necessários
          %tbody
            - cycles.last_cycles.each do |cycle|
              %tr
                %td= time_ago_in_words cycle.updated_at
                %td= cycle.new_jobs
                %td= cycle.processed_jobs
                %td= cycle.current_workers
                %td= cycle.workers
                %td= cycle.desired_workers
    - else
      .card-body.pt-0
        .alert.alert-info= t(:no_records_found)