.content-wrapper
  .content-header.row
    .content-header-left.col-md-6.col-12.mb-2
      %h3.content-header-title.mb-0
        = WorkManager.model_name.human
        = @work_manager.name
    .content-header-right.text-md-right.col-md-6.col-12
      .btn-group
        = link_to application_path(@application), class: 'btn btn-sm btn-secondary' do
          = Application.model_name.human
          = @application.name
  .content-body
    %section.row
      .col-md-6.col-lg-4
        = render 'item'
      .col-md-6.col-lg-8
        .card
          .card-contents
            = line_chart(@jobs, id: :jobs_monit,  height: "120px" )
            = line_chart(@workers, id: :workers_monit,  height: "120px" )

        = render 'last_cycles', application: @application, work_manager: @work_manager, cycles: @work_manager.cycles



:javascript
  $(document).ready(function() {
    var jobs_data = [ {name: 'jobs', data: [] }];
    var workers_data = [{ name: 'workers', data: [] }];
    var jobs_chart = Chartkick.charts["jobs_monit"]
    var workers_chart = Chartkick.charts["workers_monit"]
    var url = "#{chart_data_application_work_manager_path(format: :json)}"

    function update_chart(){
      $.get( url, function( data ) {
        // alert(chart_data);
        jobs_data[0]['data'].push(data[0]);
        workers_data[0]['data'].push(data[1]);
        jobs_chart.updateData(jobs_data);
        workers_chart.updateData(workers_data);
      });
    }
    update_chart();
    window.intervalId = setInterval(update_chart, 15000);
    }
  );