.content-wrapper
  .content-header.row
    .content-header-left.col-md-6.col-12.mb-2
      %h3.content-header-title.mb-0
        = WorkManager.model_name.human
        = @work_manager.name
    .content-header-right.text-md-right.col-md-6.col-12
      .btn-group
        = link_to application_path(@application), class: 'btn btn-sm btn-secondary' do
          = Application.model_name.human
          = @application.name
  .content-body
    %section.row
      .col-md-6.col-lg-4
        = render 'item'
      .col-md-6.col-lg-8
        .card
          .card-contents
            #workers_monit
            = render_chart(@chart, 'workers_monit')
        = render 'last_cycles', application: @application, work_manager: @work_manager, cycles: @work_manager.cycles



:javascript
  $(document).ready(function() {
    var url = "#{chart_data_application_work_manager_path(format: :json)}"
    var containerDiv = document.getElementById('workers_monit');
    var chart = new google.visualization.LineChart(containerDiv);
    var chart_data = new google.visualization.DataTable();

    function update_chart(){
      $.get( url, function( data ) {
        chart_data.insertRows(0, [[Date().getTime(), data[0], data[1]]]);
        chart.draw(chart_data);
      });
    }
    update_chart();
    window.intervalId = setInterval(update_chart, 30000);
    }
  );