.content-wrapper
  .content-header.row
    %h3.content-header-title.mb-0
      %p= t :dashboard
  .content-body
    %h3 Filas sendo controladas:
    %br
    - if @applications.count == 0
      %p Você não tem nenhum Applicativo cadastrado.
    - else
      - @applications.each do |application|
        - application.work_managers.each do |work_manager|
          = render 'application_card', application: application,  work_manager: work_manager
    .row
      .col-xl-4.col-12
        - if user_signed_in?
          = link_to new_application_path, class: 'btn btn-primary' do
            = t(:new)
            = Application.model_name.human
