!!!
%html{lang: I18n.locale}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui", :name => "viewport"}
    = csrf_meta_tags
    = csp_meta_tag

    %title ASWorkers

    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Quicksand:300,400,500,700", :rel => "stylesheet"}
    %link{:href => "https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css", :rel => "stylesheet"}

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    -#= stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application'

  %body.vertical-layout.vertical-overlay-menu.menu-expanded.fixed-navbar{class: '2-columns', "data-col" => "2-columns", "data-menu" => "vertical-overlay-menu", "data-open" => "click"}
    = render 'layouts/topbar'
    - if user_signed_in?
      = render 'layouts/mainmenu'
    .app-content.content
      = render 'layouts/messages'
      = yield
